<!DOCTYPE html>
<html>
<head>
  <title>Userapp</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  </br><p><%= link_to 'Home', root_path %> |
  <% if user_signed_in? %>
      <%= link_to 'Log Out', destroy_user_session_path, :method => 'delete', :confirm => 'Are you sure?' %> | 
        Signed in as: <%= link_to current_user.email, user_path(current_user.id) %></p>
  <% else %>
      <%= link_to 'Log in', new_user_session_path %> |
      <%= link_to 'Sign up', new_user_path %></p>
  <% end %>

  </br><% [:notice, :error, :alert, :success].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="<%= flash_class(level) %> fade in">
        <%= content_tag :span, flash[level] %>
      </div>
    <% end %>
  <% end %>
  
<%= yield %>

</body>
</html>
