<%= form_for @attraction do |f| %>
  <% if @attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this attraction from being saved:</h2>

      <ul>
      <% @attraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <div class="controls">
      <%= f.text_field :name, :size => "30" %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :summary %>
    <div class="controls">
      <%= f.text_area :summary, :size => "30x10" %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description, :size => "30x10" %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :category %>
    <div class="controls">
      <% Category.all.each do |c| %>
      <%= radio_button_tag "attraction[category_id]", c.category_id, @attraction.category_id == c.category_id %>
        <%= c.name %><br />
      <% end %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :image_url %>
    <div class="controls">
      <%= f.text_field :imageurl, :size => "40" %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :website %>
    <div class="controls">
      <%= f.text_field :website, :size => "40" %>
    </div>
  </div></br>

  <div class="field">
    <%= f.label :area %>
    <div class="controls">
      <%= f.text_field :area %>
    </div>
  </div></br>
  
  <div class="field">
    <%= f.label :rating %>
    <div class="controls">
      <%= f.text_field :rating %>
    </div>
  </div></br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
