<h1>Attractions</h1>

<div id="a_list">
  <% if can? :manage, Attraction %>
    <p><%= link_to '< New >', new_attraction_path %></p>
  <% end %></br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Summary</th>
        <th>Category</th>
        <% if can? :manage, Attraction %>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @attractions.each do |a| %>
        <tr>
          <td><%= link_to a.name, a %></td>
          <td><%= link_to a.summary[0..50]+"...", a %></td>
          <td><%= link_to a.category.name, category_path(a.category_id) %></td>
          
          <% if can? :manage, Attraction %>
            <td>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_attraction_path(a) %> | <%= link_to 'Delete', attraction_path(a), :method => 'delete', :confirm => 'Are you sure?' %></p>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div></br>

<% if can? :manage, :all %>
  <div id="users_categories_list">
      <%= render 'users/users', :@users => User.all %>
      <%= render 'categories/categories', :@categories => Category.all %>
  </div>
<% end %>
