</br><p><%= link_to 'All '+@attraction.category.name, category_path(@attraction.category_id) %>
	| <%= link_to 'All Attractions', attractions_path %>
	<% if can? :manage, Attraction %>
		| <%= link_to 'Edit', edit_attraction_path(@attraction) %>
		<% end %></p>

<div id="grouplist">
	<h1><%= @attraction.name %></h1>
	<div id="grouplist_bg">
		<div id= "image">
			<%= image_tag(@attraction.imageurl, :alt => "Image", :style => "max-width:100%;height:auto;margin-top:0.5em;") %>
		</div>
		<div id="desc_text">								
			<h4 id="rating"> Rating: <%= @attraction.rating %></h4>
			<h3><%= @attraction.summary %></h3>
			<p><%= @attraction.description %></p>
			<div id="detailWeb">
				<h4>For more details visit:  <a href= <%= @attraction.website %>><%= @attraction.website %></a></h4>
			</div>
		</div>
	</div>
</div>